@page "/todohistory"
@inject ITodoService TodoService
@inject IHttpContextAccessor httpContextAccessor
@using BussinessLayer.Entities



    <div>
        @for (int i = 0; i < 7; i++)
        {
            var todoes = TodoItems.Where(w => w.DoneDate.Value.Date == DateTime.Now.AddDays(i * -1).Date);
            @if (todoes.Count() > 0)
            {

        <div class="list-group">

            @foreach (var todoItem in todoes)

            {

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-info">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> @todoItem.Title</h5>
                        <small>@todoItem.LastModified.Value.ToShortDateString()</small>
                    </div>
                    <p class="mb-1">@todoItem.Note</p>
                    <small> Creayed by : @todoItem.CreatedBy</small>
                </a>
               <br />

             

            }
        </div>
        }
        else
        {
            <p>Empty</p>
        }

            <hr />
        }
        </div>


@code {
    public DateTime TodayDate { get; set; } = DateTime.Now;

    public string userId { get; set; }

    public List<TodoItem> TodoItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        userId = httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        TodoItems = TodoService.GetAllTodoItemsnLastDays(userId,7);
    }

}
